 
body {
	width: 100%;
	height: 100%;
}

div.fullscreen {
	width: 100%;
	height: 100%
}

div.margin-box {
	padding: 1.2em;
	border-radius: 0.6em;
	border: thin #888 solid;
	margin: 1.2em;
	margin-top: 2.5em;
	display: None;
}


div.error-text {
	color: red;
	display: none;
}

div.success-text {
	color: green;
	display: none;
}

/* enable absolute positioling */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.logo {
	background-image: url(/static/images/clipster-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}

.small-logo {
	background-image: url(/static/images/clipster-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3em;
	height: 3.3em;
	display:none
}

.logo-text {
	position: absolute;
	bottom: 0px;
}

.title {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
}

.cancel {
	font-size: 40px;
	text-align: right;
	color: gray;
}

div.cancel span {
	cursor: pointer;
}

div.cancel span:hover {
	color: black
}

label.download {
	margin-left: 1em;
	margin-right: 1em;
	
} 

@media (max-width: 768px) {
    .container-fluid {
      padding:0;
      margin:0;
    }
    
    div.row {
		margin-left: 0;
		margin-right: 0;
	}
    
    div.small-logo {
		display: block
	}

    div.logo {
		display: none
	}

	div.cancel {
		display: none;
	}
	
    div.margin-box {
		margin: 0;
		border-radius: 0;
		margin-top: 1em;
	}
    body {
      padding:0;
    }

    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
      margin-left: 0;
      margin-right: 0;
      margin-bottom:0;
    }
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
    padding-left: 15px;
    padding-right: 15px;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}