 
html, body, .container-fluid {
	width: 100%;
	height: 100%;
}

.row {
	width: 100%;
	position: absolute;
}

.col-xs-12 {
	padding-left: 0;
	padding-right: 0;
}

.container-fluid, .row {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

div.fullscreen {
	width: 100%;
	height: 100%
}

div.margin-box {
	padding: 1.2em;
	border-radius: 0.6em;
	box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	border: thin #888 solid;
	margin: 1.2em;
	margin-top: 2.5em;
	display: None;
}


div.error-text {
	color: red;
	display: none;
}

div.success-text {
	color: green;
	display: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.logo {
	background-image: url(/static/images/clipster-logo.png);
	background-repeat: no-repeat;
	background-position: center;
	height: 150px;
}

.logo-text {
	position: absolute;
	bottom: 0px;
}

.title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 3em;
}

.cancel {
	font-size: 40px;
	text-align: right;
	color: gray;
}

div.cancel span {
	cursor: pointer;
}

div.cancel span:hover {
	color: black
}

label.download {
	margin-left: 1em;
	margin-right: 1em;
	
}
