body {
    overflow-y:hidden;
    background-image: url(qrc:/web/images/clipboard-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #eff0f1;
}

div.fullscreen {
    height: %;
    width: 100%;
}

.large-text {
    font-size: 4em;
}

.medium-text {
    font-size: 1.5em;
}

.small-text {
    font-size: 1em;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.highlight, .highlight:hover, .highlight:focus
{
    background-color: #eff0f1;
/*    -webkit-transition: 175ms linear 0s;
    -moz-transition: 175ms linear 0s;
    -o-transition: 175ms linear 0s;
    transition: 175ms linear 0s;*/
}

.highlight:hover, .highlight:focus
{
    background-color: white;
}


.glow, .glow:hover, .glow:focus
{
    text-decoration: none;
    color: #aaa;
    text-shadow: none;
    -webkit-transition: 175ms linear 0s;
    -moz-transition: 175ms linear 0s;
    -o-transition: 175ms linear 0s;
    transition: 175ms linear 0s;
    outline: 0 none;
    font-size: 32px;
}

.glow.blue {
    color: #aaa
}

.glow.green {
    color: #aaf
}

.glow.blue:hover, .glow.blue:focus
{
    color: #2b6699;
    text-shadow: 0 0 2px #0000ff;
}

.glow.green:hover, .glow.green:focus
{
    color: #55aa55;
    text-shadow: 0 0 2px #00aa00;
}

div.input-group.search-field
{
    margin-bottom: 1em;
}

span.input-group-addon.team-manage {
    background-image: url(qrc:/web/images/team.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 28px;
    padding-right: 28px;
}

span.team-badge {
    position: absolute;
    padding: 1px 0.4em 1px 0.4em;
    line-height: 1;
    margin-top: 0.6em;
    margin-right: 1.3em;
    border-radius: 0.6em;
    top:0px;
    right:0px;
    background-color: green;
    color: white;
    font-size:0.6em;
    font-weight: normal;
/*    display: none;*/
}

div.list-group-item {
    padding: 0.1em;
    background-image: url(qrc:/web/images/progress.png);
    background-repeat: no-repeat;
    background-size: 0% 1px;
    background-position: left bottom;
}

div.cliplist {
    margin-bottom: 0px;
    opacity: 0.9;
    cursor: pointer;
}

div.preview-thumb {
    width: 64px;
    height: 64px;
    float: left;
    position: relative;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 0.2em;
    margin-left: 0.2em;
}

div.details {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 150px;
    padding-left: 10px;
    line-height: 1.4em;
    font-size: 2.0em
}

div.preview-text {
    position: relative;
    float: left;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 150px);
    min-width: calc(100% - 150px);
    font-family: "Inconsolata";
}

div.clipitem-date {
    position: relative;
    float: left;
    color: gray;
    font-size: 50%
}

div.team-tags {
    position: relative;
    float: right;
    width: 150px;
    margin-top: 0.4em;
    height: 2em;
    overflow: hidden;
}

div.team-tags>.badge {
    padding: 2px 6px 1px 6px;
    margin-top: 0.2em;
    margin-right: 1px;
    background-color: #bbb;
    font-size: 0.4em;
}

div.clipster-cloud-marker:before {
    width: 42px;
    height: 32px;
    float: right;
    position: relative;
    margin-top: 0.1em;
    margin-left: 0.3em;
    content: "\e81f"
}

div.in-cloud div.clipster-cloud-marker:before {
    content: "\e82f"
}

div.clipster-menu {
    width: 42px;
    height: 32px;
    float: right;
    position: relative;
    margin-top: 0.1em;
    margin-left: 0.3em
}

div.clipster-trash-empty {
    width: 42px;
    height: 32px;
    float: right;
    position: relative;
    margin-top: 0.1em;
    margin-right: 0.3em
}

div.cliplist>div {
    float: left;
    position: relative;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    width: 100%;
    min-width: 300px;
}

div.right-offset {
    margin-right: .3em;
}

#main-context-menu {
  position: absolute;
  display:none;
}

#team-context-menu {
  position: absolute;
  display:none;
}

.dropdown-menu:before {
  position: absolute;
  top: -4px;
  right: 13px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -3px;
  right: 14px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.question {
    padding: 1em;
}

.question span {
    font-size: 1.5em
}

.question button {
    margin-left: 1em;
}
