@font-face {
  font-family: 'clipster';
  src: url('../font/clipster.eot?29380182');
  src: url('../font/clipster.eot?29380182#iefix') format('embedded-opentype'),
       url('../font/clipster.woff?29380182') format('woff'),
       url('../font/clipster.ttf?29380182') format('truetype'),
       url('../font/clipster.svg?29380182#clipster') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'clipster';
    src: url('../font/clipster.svg?29380182#clipster') format('svg');
  }
}
*/
 
 [class^="clipster-"]:before, [class*=" clipster-"]:before {
  font-family: "clipster";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.clipster-spin1:before { content: '\e800'; } /* '' */
.clipster-user-add:before { content: '\e801'; } /* '' */
.clipster-ok:before { content: '\e802'; } /* '' */
.clipster-ok-circled:before { content: '\e803'; } /* '' */
.clipster-cancel:before { content: '\e804'; } /* '' */
.clipster-cancel-circled:before { content: '\e805'; } /* '' */
.clipster-thumbs-up:before { content: '\e806'; } /* '' */
.clipster-thumbs-down:before { content: '\e807'; } /* '' */
.clipster-thumbs-up-alt:before { content: '\e808'; } /* '' */
.clipster-thumbs-down-alt:before { content: '\e809'; } /* '' */
.clipster-download:before { content: '\e80a'; } /* '' */
.clipster-download-1:before { content: '\e80b'; } /* '' */
.clipster-download-outline:before { content: '\e80c'; } /* '' */
.clipster-download-2:before { content: '\e80d'; } /* '' */
.clipster-download-3:before { content: '\e80e'; } /* '' */
.clipster-hourglass:before { content: '\e80f'; } /* '' */
.clipster-logout:before { content: '\e810'; } /* '' */
.clipster-star-empty:before { content: '\e811'; } /* '' */
.clipster-trash-empty:before { content: '\e812'; } /* '' */
.clipster-user:before { content: '\e813'; } /* '' */
.clipster-bell:before { content: '\e814'; } /* '' */
.clipster-group:before { content: '\e815'; } /* '' */
.clipster-cw:before { content: '\e816'; } /* '' */
.clipster-arrows-cw:before { content: '\e817'; } /* '' */
.clipster-cw-1:before { content: '\e818'; } /* '' */
.clipster-plus:before { content: '\e819'; } /* '' */
.clipster-plus-1:before { content: '\e81a'; } /* '' */
.clipster-plus-2:before { content: '\e81b'; } /* '' */
.clipster-link:before { content: '\e81c'; } /* '' */
.clipster-left-outline:before { content: '\e81d'; } /* '' */
.clipster-cloud:before { content: '\e81e'; } /* '' */
.clipster-cloud-1:before { content: '\e81f'; } /* '' */
.clipster-cloud-circled:before { content: '\e820'; } /* '' */
.clipster-cloud-2:before { content: '\e821'; } /* '' */
.clipster-cloudapp:before { content: '\e822'; } /* '' */
.clipster-soundcloud:before { content: '\e823'; } /* '' */
.clipster-cloud-3:before { content: '\e824'; } /* '' */
.clipster-upload-cloud:before { content: '\e825'; } /* '' */
.clipster-download-cloud:before { content: '\e826'; } /* '' */
.clipster-clouds:before { content: '\e827'; } /* '' */
.clipster-cloud-4:before { content: '\e828'; } /* '' */
.clipster-cloud-inv:before { content: '\e829'; } /* '' */
.clipster-clouds-inv:before { content: '\e82a'; } /* '' */
.clipster-download-cloud-1:before { content: '\e82b'; } /* '' */
.clipster-upload-cloud-1:before { content: '\e82c'; } /* '' */
.clipster-cloud-5:before { content: '\e82d'; } /* '' */
.clipster-upload-cloud-2:before { content: '\e82e'; } /* '' */
.clipster-cloud-6:before { content: '\e82f'; } /* '' */
.clipster-search:before { content: '\e830'; } /* '' */
.clipster-menu:before { content: '\e831'; } /* '' */
.clipster-laptop:before { content: '\e832'; } /* '' */
.clipster-tablet:before { content: '\e833'; } /* '' */
.clipster-tag:before { content: '\e834'; } /* '' */
.clipster-tags:before { content: '\e835'; } /* '' */
.clipster-cog:before { content: '\e836'; } /* '' */
.clipster-params:before { content: '\e837'; } /* '' */
.clipster-graduation-cap:before { content: '\e838'; } /* '' */
.clipster-info:before { content: '\e839'; } /* '' */
.clipster-award:before { content: '\e83a'; } /* '' */
.clipster-wifi:before { content: '\e83b'; } /* '' */
.clipster-check:before { content: '\e83c'; } /* '' */
.clipster-check-empty:before { content: '\e83d'; } /* '' */