<!DOCTYPE html>
<html>
	<head>
		<title>{{ translate("Crash View") }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://clipster-dev.limbosoft.com/admin/static/js/bootstrap-table.js"></script>
		<link href="http://clipster-dev.limbosoft.com/admin/static/js/bootstrap-table.css" type="text/css" rel="stylesheet">
	</head>

	<style>
		#crash_summary_table td {
			vertical-align: middle;
		}
		table#crash_summary_table {
			border-collapse: separate;
			border-spacing: 10px 1em;
		}
		table td {
			font-family: "Courier"
		}
	</style>
	<script>
	
	function colorizeLogs() {
		$("#log_events_table td:first-child").each( function() {
			switch ($(this).html()) {
				case "1":
					$(this).parent().children("td").css({color: "red", "font-weight": "bold"});
					break;
				case "2": 
					$(this).parent().children("td").css({color: "red"});
					break;
				case "4":
					$(this).parent().children("td").css({color: "#FFCC00"});
					break;
				case "8":
					$(this).parent().children("td").css({color: "#009900"});
					break;
				case "32":
					$(this).parent().children("td").css({color: "#999999"});
					break;
			}
		});
	}
	
	$(function() {
		$("#call_info_table").bootstrapTable( {
			onClickRow: function (row, args) {
				var filename = row.file.replace(/\\/g,'/');
				var basename = filename.split("/").splice(-1,1)[0];
				var new_location = "https://bitbucket.org/jakobsg/clipster/src/{{git_version}}/client/"+filename+"#"+basename+"-"+(row.line-1);
				var win = window.open(new_location, '_blank');
				win.focus();
			}
		});
		$("#log_events_table").bootstrapTable( {} )
		$("#log_events_table").on('sort.bs.table', function () { alert("sdf");colorizeLogs() })
		
		$("#call_info_table").bootstrapTable('append', {{call_info}});
		$("#profile_info_table").bootstrapTable('append', {{profile_info}});
		$("#log_events_table").bootstrapTable('append', {{log_events}});
		$("#simple_callstack_table").bootstrapTable('append', {{simple_callstack}});
		$("#detailed_callstack_table").bootstrapTable('append', {{detailed_callstack}});
		colorizeLogs();
	});
	
	</script>
	<body>
		<ul class="nav nav-tabs">
			<li><a href="/admin"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
			<li class="active"><a data-toggle="tab" href="#crash_summary">Summary</a></li>
			<li><a data-toggle="tab" href="#call_list">Call Info</a></li>
			<li><a data-toggle="tab" href="#profile_info">Profile Info</a></li>
			<li><a data-toggle="tab" href="#log_events">Log Events</a></li>
			<li><a data-toggle="tab" href="#simple_callstack">Simple Callstack</a></li>
			<li><a data-toggle="tab" href="#detailed_callstack">Detailed Callstack</a></li>
		</ul>

		<div class="tab-content">
			<div id="crash_summary" class="tab-pane fade in active">
				<center>
					<table id="crash_summary_table">
						<tr>
							<td align="right"><strong>Username:</strong></td>
							<td>{{username}}</td>
						</tr>
						<tr>
							<td align="right"><Strong>Contact OK:</strong></td>
							<td>{{contact_ok}}</td>
						</tr>
						<tr>
							<td align="right"><strong>Contact mail:</strong></td>
							<td>{{contact_mail}}</td>
						</tr>
						<tr>
							<td align="right"><Strong>User details:</strong></td>
							<td>{{user_details}}</td>
						</tr>
						<tr>
							<td align="right"><strong>hostname</strong></td>
							<td>{{hostname}}</td>
						</tr>
						<tr>
							<td align="right"><Strong>OS Type:</strong></td>
							<td>{{os_type}}</td>
						</tr>
						<tr>
							<td align="right"><strong>OS Version:</strong></td>
							<td>{{os_version}}</td>
						</tr>
						<tr>
							<td align="right"><Strong>Crash type:</strong></td>
							<td>{{crash_type}}</td>
						</tr>
						<tr>
							<td align="right"><Strong>Git Version:</strong></td>
							<td>{{git_version}}</td>
						</tr>
					</table>
				</center>
			</div>
			
			<div id="call_list" class="tab-pane fade">
				<h2>The latest 100 finished instrumented functions</h2>
				<table id="call_info_table" data-cache="false" data-search="true" data-show-columns="true">
					<thead>
						<tr>
							<th data-field="seq" data-sortable="true">Seq</th>
							<th data-field="fname" data-sortable="true">Function</th>
							<th data-field="file" data-sortable="true">File</th>
							<th data-field="line" data-sortable="true">Line</th>
							<th data-field="thread" data-sortable="true">Thread ID</th>
							<th data-field="time" data-sortable="true">Start</th>
							<th data-field="duration" data-sortable="true">Duration</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="profile_info" class="tab-pane fade">
				<h2>Profile information for all instrumented functions</h2>
				<table id="profile_info_table" data-toggle="table" data-cache="false">
					<thead>
						<tr>
							<th data-field="fname" data-sortable="true">Function</th>
							<th data-field="call_count" data-sortable="true">Call count</th>
							<th data-field="acc_duration" data-sortable="true">Acc. duration</th>
							<th data-field="min_duration" data-sortable="true">Min. duration</th>
							<th data-field="max_duration" data-sortable="true">Max. duration</th>
							<th data-field="avg_duration" data-sortable="true">Avg. duration</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="log_events" class="tab-pane fade">
				<h2>Application log events</h2>
				<table id="log_events_table" data-cache="false" data-search="true" data-show-columns="true">
					<thead>
						<tr>
							<th data-field="seq" data-sortable="true">Seq</th>
							<th data-field="log_lvl" data-sortable="true">Log Level</th>
							<th data-field="file" data-sortable="true">Log Level</th>
							<th data-field="line" data-sortable="true">Log Level</th>
							<th data-field="log_msg" data-sortable="true">Log Line</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="simple_callstack" class="tab-pane fade">
				<h2>Simple callstack based on compiler debug-info</h2>
				<table id="simple_callstack_table" data-toggle="table" data-cache="false">
					<thead>
						<tr>
							<th data-field="stackline" data-sortable="true">Callstack</th>
						</tr>
					</thead>
				</table>
			</div>
			<div id="detailed_callstack" class="tab-pane fade">
				<h2>Detailed callstack based on compiler debug-info</h2>
				<table id="detailed_callstack_table" data-toggle="table" data-cache="false">
					<thead>
						<tr>
							<th data-field="stackline" data-sortable="true">Callstack</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</body>
</html>
