<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ sitetitle }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://clipster-dev.limbosoft.com/admin/static/js/bootstrap-table.js"></script>
		<link href="http://clipster-dev.limbosoft.com/admin/static/js/bootstrap-table.css" type="text/css" rel="stylesheet">
	</head>

	<style>
		#crash_summary_table td {
			vertical-align: middle;
		}
		table#crash_summary_table {
			border-collapse: separate;
			border-spacing: 10px 1em;
		}
	</style>
	<script>
	
	$(function() {
		$("#crash_list_table").bootstrapTable( {
			onClickRow: function (row, args) {
				document.location = "/admin/crashview?crash_summary_id="+row.crash_summary_id;
			}
		});
		$("#crash_list_table").bootstrapTable('append', {{crash_list}} );
	});
	
	</script>
	<body>
		<h1>Reported crashes</h1>
		<table id="crash_list_table" data-cache="false" data-search="true" data-pagination="true" data-show-columns="true">
			<thead>
				<tr>
					<th data-field="reported_ts" data-sortable="true">Reported</th>
					<th data-field="username" data-sortable="true">Username</th>
					<th data-field="os_type" data-sortable="true">OS Type</th>
					<th data-field="os_version" data-sortable="true">OS Version</th>
					<th data-field="hostname" data-sortable="true">Hostname</th>
					<th data-field="git_version" data-sortable="true">Git Version</th>
					<th data-field="last_call" data-sortable="true">Last known call</th>
				</tr>
			</thead>
		</table>
	</body>
</html>

