<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ sitetitle }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <script src="/static/main.js"></script> -->
		<script src="/static/lib/jquery/jquery.min.js"></script>
		<script src="/static/lib/jquery/jquery.cookie.js"></script>
		<script src="/static/lib/jsonwsp/jsonwspclient.js"></script>
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/bootstrap/css/mobiletweaks.css" rel="stylesheet">
		<link href="/static/css/clipster.css" rel="stylesheet">
		<link href="/static/css/animation.css" rel="stylesheet"><!--[if IE 7]><link rel="stylesheet" href="/static/css/cal-fonts-ie7.css"><![endif]-->
		<link href="static/css/login.css" type="text/css" rel="stylesheet">
		
		<script>
			var user_service = new JSONWSPClient();
			var username_ok = false;
			var password_ok = false;
			var timer_id = null;
			user_service.setViaProxy(true);
			function validateEmail(email) {
				var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return re.test(email);
			}
			
			function checkUsername() {
				if (validateEmail($("#user-email").val())) {
					$("#user-email-glyph").addClass("clipster-thumbs-up")
					username_ok = true;
				}
				else {
					$("#user-email-glyph").removeClass("clipster-thumbs-up")
					username_ok = false;
				}
			}
			function validatePassword(password) {
				return password.length>7;
			}

			function updateLoginButton() {
				if (username_ok && password_ok) {
					$("#login-user-account").removeClass("disabled");
				}
				else {
					$("#login-user-account").addClass("disabled");
				}
			}
			
			function attemptLogin() {
				user_service.login({
					username: $("#user-email").val(),
					password: $("#user-password").val() },
					null,
					function(res) {
						if (timer_id) {
							clearTimeout(timer_id);
							timer_id = null;
						}
						$("div.success-text,div.error-text").hide();
						if (res.method_result.res_code==0) {
							$(".success-text").html(res.method_result.res_msg);
							$(".success-text").show("fast");
							$.cookie("login-token", res.login_token, {path: "/"});
						}
						else {
							$(".error-text").html(res.method_result.res_msg);
							$(".error-text").show("fast");
							timer_id = setTimeout( function() {$("div.success-text,div.error-text").hide("fast")}, 5000);
						}
					}
				);
			}
			
			function cancelLogin() {
				$("body").fadeOut(400, function() {
					$.cookie("cancelled",true);
				});
			}
			
			function checkPassword() {
				if (validatePassword($("#user-password").val())) {
					$("#user-password-glyph").addClass("clipster-thumbs-up")
					password_ok = true;
				}
				else {
					$("#user-password-glyph").removeClass("clipster-thumbs-up")
					password_ok = false;
				}
				updateLoginButton();
				return password_ok;
			}
			
			$(function() {
				$.removeCookie("login-token");
				user_service.loadDescription("/service/v1/UserService/jsonwsp/description");
				$("#login-dialog").fadeToggle(250,"swing",function() {
					$("#user-email").focus();
				} );
				$("#user-email").keyup( function() {
					checkUsername();
					updateLoginButton();
				});
				$("#user-email").change( function() {
					checkUsername();
					updateLoginButton();
				});
				$("#user-password").keyup( function() {
					checkPassword();
				});
				$("#login-user-account").click( function() {
					attemptLogin();
				});
				$("input").keyup( function( e ) {
					if ( e.which == 13 ) {
						if (checkPassword()) {
							attemptLogin();
						}
						else {
							$("input#user-password").focus();
						}
					}
					else if ( e.which == 27 ) {
						cancelLogin();
					}
				});
				updateLoginButton();
				$(".clipster-cancel").click( function() {
					cancelLogin();
				});
				$("body").fadeIn(500)
			});
		</script>

	</head>
	<body style="background-color: transparent; display: none">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="margin-box" id="login-dialog" style="background-color: white">
						<div class="row">
							<div class="col-md-0 col-xs-2 small-logo">
							</div>
							<div class="col-xs-6 col-sm-4 title">Clipster</div>
							<div class="col-xs-0 col-sm-8 cancel">
								<span class="clipster-cancel"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-xs-0 col-sm-4 logo">
							</div>
							<div class="col-xs-12 col-sm-8 pull-right">
								<div class="form-group">
									<label for="user-email">{{ translate("Username (valid e-mail)","common") }}</label>
									<div class="inner-addon right-addon">
										<i id="user-email-glyph" class="glyphicon"></i>
										<input class="form-control" type="text" id="user-email" name="email" />
									</div>
								</div>
								<div class="form-group">
									<label for="user-password">{{ translate("Password","common") }}</label>
									<div class="inner-addon right-addon">
										<i id="user-password-glyph" class="glyphicon"></i>
										<input class="form-control" type="password" id="user-password" name="password" />
									</div>
								</div>
								<div class="form-group">
									<button class="btn btn-success" id="login-user-account">{{ translate('Login',"common") }}</button>
								</div>
								<div class="error-text">
								</div>
								<div class="success-text">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
