<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ sitetitle }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <script src="/static/main.js"></script> -->
		<script src="/static/lib/jquery/jquery.min.js"></script>
		<script src="/static/lib/jsonwsp/jsonwspclient.js"></script>
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/bootstrap/css/mobiletweaks.css" rel="stylesheet">
		<link href="/static/css/clipster.css" rel="stylesheet">
		<link href="/static/css/animation.css" rel="stylesheet"><!--[if IE 7]><link rel="stylesheet" href="/static/css/cal-fonts-ie7.css"><![endif]-->
		<link href="static/css/main.css" type="text/css" rel="stylesheet">
		
		<script>
			var user_service = new JSONWSPClient();
			var timer_id = null;
			var username_ok = false;
			var password_ok = false;
			var retype_password_ok = false;
			user_service.setViaProxy(true);
			
			function validateEmail(email) {
				var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
				return re.test(email);
			}
			function validatePassword(password) {
				return password.length>7;
			}
			
			function checkUsername() {
				if (validateEmail($("#user-email").val())) {
					$("#user-email-glyph").addClass("clipster-thumbs-up")
					username_ok = true;
				}
				else {
					$("#user-email-glyph").removeClass("clipster-thumbs-up")
					username_ok = false;
				}
			}
			
			function updateCreateButton() {
				if (username_ok && password_ok && retype_password_ok) {
					$("#init-user-account").removeClass("disabled");
				}
				else {
					$("#init-user-account").addClass("disabled");
				}
			}
			
			function attemptInitAccount() {
				if ($("#init-user-account").hasClass("disabled")==false) {
					user_service.initUserAccount({
						username: $("#user-email").val(),
						password: $("#user-password").val() },
						null,
						function(res) {
							if (timer_id) {
								clearTimeout(timer_id);
								timer_id = null;
							}
							$("div.success-text,div.error-text").hide();
							if (res.method_result.res_code==0) {
								$(".success-text").html(res.method_result.res_msg);
								$(".success-text").show("fast");
								setTimeout( function() {
									$("#add-user-dialog").fadeOut(750, function() {
										$("#download-client").fadeIn(250);
									});
								}, 3000 );
							}
							else {
								$(".error-text").html(res.method_result.res_msg);
								$(".error-text").show("fast");
								timer_id = setTimeout( function() {$("div.success-text,div.error-text").hide("fast")}, 5000);
							}
						}
					);
				}
			}
			
			function initialVerticalCenter() {
				var rh = $(".row").height();
				var sh = $(document).height();
				$(".row").css("top",(sh/3)-(rh/2));
			}
			function disableVerticalCenter(cb) {
				$(".row").animate({'top':0},500,"swing",function() {
					$(".row").css("position","relative");
					if (cb) {
						cb();
					}
				});
			}
			
			var is_64bit = navigator.userAgent.indexOf('x86_64')>-1 || navigator.userAgent.indexOf('WOW64')>-1;
			var is_windows = navigator.userAgent.toLowerCase().indexOf("windows")>-1;
			var is_linux = navigator.userAgent.toLowerCase().indexOf("linux")>-1;
			var is_mac = navigator.userAgent.toLowerCase().indexOf("mac")>-1;
			var is_android = navigator.userAgent.toLowerCase().indexOf("android")>-1;
			var only_system_download = false;
			
			function toggle_show_only_system_download() {
				if (only_system_download==false) {
					$("label.download").hide();
					if (is_windows && is_64bit) {
						$("#win64_download").show();
					}
					if (is_windows && !is_64bit) {
						$("#win32_download").show();
					}
					if (is_mac) {
						$("#mac64_download").show();
					}
					if (is_android) {
						$("#android_download").show();
					}
					if (is_linux) {
						$("#linux64_download").show();
					}
					$("#show-all-downloads div").html("{{ translate('Show downloads for all systems') }}");
				}
				else {
					$("label.download").fadeIn(250);
					$("#show-all-downloads div").html("{{ translate('Show only your system\'s download') }}");
				}
				only_system_download = !only_system_download;
			}
			$(function() {
				toggle_show_only_system_download();
				user_service.loadDescription("/service/v1/UserService/jsonwsp/description",function() {
					initialVerticalCenter();
				});
				$("#show-all-downloads").click( function() {
					toggle_show_only_system_download();
				});
				$("#add-user-link").click( function () {
					disableVerticalCenter(function () {
						$("#add-user-dialog").fadeToggle(250,"swing",function() {
							$("#user-email").focus();
						} );
					});
				});
				
				$("#use-existing-link").click( function () {
					disableVerticalCenter(function () {
						$("#add-user-dialog").fadeOut(250, function() {
							$("#download-client").fadeToggle(250);
						});
					});
				});
				
				$("#user-email").keyup( function() {
					checkUsername();
					updateCreateButton();
				});
				
				$("#user-email").change( function() {
					checkUsername();
					updateCreateButton();
				});
				
				$("#user-password").keyup( function() {
					if (validatePassword($("#user-password").val())) {
						$("#user-password-glyph").addClass("clipster-thumbs-up")
						password_ok = true;
					}
					else {
						$("#user-password-glyph").removeClass("clipster-thumbs-up")
						password_ok = false;
					}
					updateCreateButton();
				});
				
				$("#retype-user-password").keyup( function() {
					if ($("#retype-user-password").val()===$("#user-password").val()) {
						$("#retype-user-password-glyph").addClass("clipster-thumbs-up")
						retype_password_ok = true;
					}
					else {
						$("#retype-user-password-glyph").removeClass("clipster-thumbs-up")
						retype_password_ok = false;
					}
					updateCreateButton();
				});
				
				$("#init-user-account").click( function() {
					attemptInitAccount();
				});
				
				$("input").keydown( function( e ) {
					if ( e.which == 13 ) {
						attemptInitAccount();
					}
					else if ( e.which == 27 ) {
						$("#add-user-dialog").fadeOut(750);
					}
				});
				
				updateCreateButton();
			});
		</script>

	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-ld-5 col-md-4 col-sm-2 col-xs-0"></div>
				<div class="col-ld-2 col-md-4 col-sm-8 col-xs-12">
					<center>
						<table>
							<tr>
								<td rowspan="3">
									<img src="/static/images/clipster-logo.png"></img>
								</td>
								<td valign="middle">
									<div class="title" style="margin-left:8px">Clipster</div>
								</td>
							</tr>
							<tr>
								<td valign="middle">
									<button class="btn btn-success" style="margin-bottom: 5px; margin-left:8px; width:100%" id="add-user-link"><div class="clipster-user-add"> {{ translate('New profile') }}</div></button>
								</td>
							</tr>
							<tr>
								<td valign="middle">
									<button class="btn btn-success" style="margin-left:8px; width:100%" id="use-existing-link"><div class="clipster-download-3"> {{ translate('Download') }}</div></button>
								</td>
							</tr>
						</table>
					</center>
					<div class="margin-box" id="add-user-dialog">
						<div class="form-group">
							<p class="help-block">{{ translate("Please provide a username (e-mail) and password for your Clipster profile." ) }}</p>
							<label for="user-email">{{ translate("Username (valid e-mail)","common") }}</label>
							<div class="inner-addon right-addon">
								<i id="user-email-glyph" class="glyphicon"></i>
								<input class="form-control" type="text" id="user-email" name="email" />
							</div>
						</div>
						<div class="form-group">
							<label for="user-password">{{ translate("Password","common") }}</label>
							<div class="inner-addon right-addon">
								<i id="user-password-glyph" class="glyphicon"></i>
								<input class="form-control" type="password" id="user-password" name="password" />
							</div>
						</div>
						<div class="form-group">
							<label for="retype-user-password">{{ translate("Verify password","common") }}</label>
							<div class="inner-addon right-addon">
								<i id="retype-user-password-glyph" class="glyphicon"></i>
								<input class="form-control" type="password" id="retype-user-password" name="retype-password" />
							</div>
						</div>
						<div class="form-group">
							<button class="btn btn-default" id="init-user-account">{{ translate('Create',"common") }}</button>
						</div>
						<div class="error-text">
						</div>
						<div class="success-text">
						</div>
					</div>
					
					<div class="margin-box" id="download-client">
						<center>
							<div class="form-group">
								<p class="help-block">{{ translate("Download the Clipster Client" ) }}</p>
							</div>
							<div class="form-group">
								<label class="download" id="win32_download">
									<a href="/downloads/clipster-dev/setup-x86.exe"><img src="/static/images/windows-logo-32.png" /></a>
								</label>
								<label class="download" id="win64_download">
									<a href="/downloads/clipster-dev/setup-x64.exe"><img src="/static/images/windows-logo-64.png" /></a>
								</label>
								<label class="download" id="mac64_download">
									<a href="/downloads/clipster-dev/Clipster.dmg"><img src="/static/images/macosx-logo.png" /></a>
								</label>
								<label class="download" id="linux64_download">
									<a href="/downloads/clipster-dev/clipster.linux-x86_64.tar.gz"><img src="/static/images/linux-logo.png" /></a>
								</label>
								<label class="download" id="android_download">
									<a href="https://play.google.com/store/apps/details?id=com.limbosoft.clipster"><img src="/static/images/android-logo.png" /></a>
								</label>
							</div>
							<button class="btn btn-success" style="margin-bottom: 5px; margin-left:8px" id="show-all-downloads"><div class="clipster-download-3"></div></button>
						</center>
					</div>
					
				</div>
			</div>
		</div>
		<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
