<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ sitetitle }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <script src="/static/main.js"></script> -->
		<script src="/static/lib/jquery/jquery.min.js"></script>
		<script src="/static/lib/jquery/jquery.cookie.js"></script>
		<script src="/static/lib/jsonwsp/jsonwspclient.js"></script>
		<link rel="shortcut icon" href="/static/images/favicon.ico" />
		<link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
		<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/lib/bootstrap/css/mobiletweaks.css" rel="stylesheet">
		<link href="/static/css/clipster.css" rel="stylesheet">
		<link href="/static/css/animation.css" rel="stylesheet"><!--[if IE 7]><link rel="stylesheet" href="/static/css/cal-fonts-ie7.css"><![endif]-->
		<link href="static/css/login.css" type="text/css" rel="stylesheet">
		<script type="text/javascript" src="/static/js/bootstrap-table.js"></script>
		<link href="/static/js/bootstrap-table.css" type="text/css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Montserrat|Droid+Sans|Roboto+Slab|Arimo|Pontano+Sans|Jura|Alegreya+Sans+SC|Coda|Rajdhani|Work+Sans' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="/static/lib/jquery/jquery.bsmodal.js"></script>
		<script type="text/javascript" src="/static/lib/jquery/jquery.objectlist.js"></script>
		<script type="text/javascript" src="/static/lib/jquery/jquery.rotate.js"></script>
		<script type="text/javascript" src="/static/js/team-funcs.js"></script>
		<script type="text/javascript" src="/static/js/user-funcs.js"></script>
		
		<style>
		
			body {
				font-family: 'Droid Sans', sans-serif;
			}
			h3 {
				font-family: 'Alegreya Sans SC', sans-serif;
				margin-bottom: 0px;
				margin-top: 0.2em;
			}
			
			.table tbody>tr>td {
				vertical-align: middle;
			}
			
			.borderless td, .borderless th {
				border: none;
			}
			
			div.member-group {
				display: none;
			}
			
			.green {
				color: green
			}
			
			.orange {
				color: orange
			}
			
			.bootstrap-table .table > tbody > tr > td {
				padding: 4px !important;
				white-space: nowrap;
				overflow: hidden;
				cursor: pointer;
			}
			.bootstrap-table .table > thead > tr > td {
				padding: 4px !important;
				white-space: nowrap;
				overflow: hidden;
			}
			
			div.row.question {
				margin-left: 0px;
				margin-right: 0px;
			}
			
			.clipster-reload {
				cursor: pointer;
			}
			
			.clipster-bell {
				background-color: #5cb85c
			}
			
			.clipster-bell.disabled {
				opacity: 0.65;
			}
			
			button.primary {
				border-color: #66afe9;
				background-color: white;
				box-shadow: inset 0px 0px 2px 1px rgba(102, 175, 233, 0.3);
				outline: 0 none;
			}
			
			button.primary:hover {
				background-color: rgba(102, 175, 233, 0.1);
			}
			
			button.danger {
				border-color: #ffa0a0;
				background-color: white;
				box-shadow: inset 0px 0px 2px 1px rgba(217, 83, 79, 0.3);
				outline: 0 none;
			}
			
			button.danger:hover {
				background-color: rgba(217, 83, 79, 0.1);
			}

			button.success {
				border-color: rgb(40, 182, 44);
				background-color: white;
				box-shadow: inset 0px 0px 2px 1px rgba(40, 182, 44, 0.3);
				outline: 0 none;
			}
			
			button.success:hover {
				background-color: rgba(40, 182, 44, 0.1);
			}
			
		</style>
		<script>
			var device_hash = $.cookie("device_hash");
			var me = null;
			var prev_show_args = null;
			var prev_show_func = null;

			
			var MEMBER_STATUS_OWNER = 1;
			var MEMBER_STATUS_MEMBER = 2;
			var MEMBER_STATUS_PENDING_OWNER_ACCEPT = 3;
			var MEMBER_STATUS_PENDING_MEMBER_ACCEPT = 4;
			var MEMBER_STATUS_UNKNOWN = 5;
			
			var TEAM_STATUS_OWNER = 1;
			var TEAM_STATUS_MEMBER = 2;
			var TEAM_STATUS_PENDING_SELF_ACCEPT = 3;
			var TEAM_STATUS_PENDING_OWNER_ACCEPT = 4;
			var TEAM_STATUS_UNKNOWN = 5;

			var team_service = new JSONWSPClient();
			var user_service = new JSONWSPClient();
			team_service.setViaProxy(true);
			user_service.setViaProxy(true);

			function clear_table(obj,fieldname) {
				var teamnames = $.map(obj.bootstrapTable('getData'), function (row) {
					return row[fieldname];
				});
				obj.bootstrapTable('remove', {
					field: fieldname,
					values: teamnames
				});
			}
            
			function row_elem_to_data(x) {
				var row = $(x).closest("tr");
				var idx = row.attr("data-index");
				var table = row.closest('table');
				var rowdata = table.bootstrapTable("getData")[idx];
				return rowdata;
			}

			function remove_team(x,event) {
				$.Event(event).stopPropagation();
				var row_data = row_elem_to_data(x);
				question( '{{ translate("Remove team") }}', '{{ translate("Are you sure you want to remove the team") }}'+' "'+row_data.teamname+'"?', function() { 
					team_service.removeTeam({
						device_hash: device_hash,
						teamname: row_data.teamname},
						null,
						function(res) {
							if (res.success==true) {
								update_teamlist();
							}
						}
					);
				});
			}

			function withdraw_membership(x,event) {
				$.Event(event).stopPropagation();
				var row_data = row_elem_to_data(x);
				question( '{{ translate("Leave team") }}', '{{ translate("Are you sure you want to leave the team ") }}'+' "'+row_data.teamname+'"?', function() { 
					team_service.withdrawMembership({
						device_hash: device_hash,
						team_owner: row_data.owner,
						teamname: row_data.teamname},
						null,
						function(res) {
							if (res.success==true) {
								update_teamlist();
							}
						}
					);
				});
			}

			function exclude_member(x,event) {
				$.Event(event).stopPropagation();
				var row_data = row_elem_to_data(x);
				question( '{{ translate("Exclude team member") }}', '{{ translate("Are you sure you want to exclude the team member ") }}'+' "'+row_data.username+'"?', function() { 
					team_service.excludeMember({
						device_hash: device_hash,
						teamname: row_data.teamname,
						member_username: row_data.username },
						null,
						function(res) {
							if (res.success==true) {
								show_team_members(row_data);
							}
						}
					);
				});
			}

			function accept_invitation(x,event) {
				$.Event(event).stopPropagation();
				var row_data = row_elem_to_data(x);
				team_service.acceptInvitation({
					device_hash: device_hash,
					team_owner: row_data.owner,
					teamname: row_data.teamname},
					null,
					function(res) {
						if (res.success==true) {
							update_teamlist();
						}
					}
				);
			}

			function accept_membership(x,event) {
				$.Event(event).stopPropagation();
				var row_data = row_elem_to_data(x);
				team_service.acceptMembership({
					device_hash: device_hash,
					teamname: row_data.teamname,
					member_username: row_data.username},
					null,
					function(res) {
						if (res.success==true) {
							show_team_members(row_data);
						}
					}
				);
			}

			
			function team_name_formatter(value, row) {
				var teamname = '<div><span class="pull-left">' + row.teamname + '</span>';
				if (row.pending_owner_accepts>0) {
					teamname += '<span class="badge clipster-bell pull-right' + (row.owner!=me.username ? ' disabled' : '') + '">'+row.pending_owner_accepts+'</span></div>';
				}
				return teamname;
			}
			
			function team_action_formatter(value, row) {
				if (row.team_status == TEAM_STATUS_OWNER) {
					return '<button type="button" class="btn danger" onclick="remove_team(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Remove team") }}' + '"><span class="clipster-trash-empty" aria-hidden="true"></span></button>';
				}
				else if (row.team_status == TEAM_STATUS_MEMBER) {
					return '<button type="button" class="btn primary" onclick="withdraw_membership(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Leave team") }}' + '"><span class="clipster-logout" aria-hidden="true"></span></button>';
				}
				else if (row.team_status == TEAM_STATUS_PENDING_SELF_ACCEPT) {
					return '<button type="button" class="btn success" onclick="accept_invitation(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Accept invitation") }}' + '"><span class="clipster-thumbs-up" aria-hidden="true"></span></button>';
				}
				else if (row.team_status == TEAM_STATUS_PENDING_OWNER_ACCEPT) {
					return '<button type="button" class="btn primary" onclick="withdraw_membership(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Leave team") }}' + '"><span class="clipster-cancel" aria-hidden="true"></span></button>';
				}
			}
			
			function member_action_formatter(value, row) {
				if (row.owner_accepted==false) {
					return '<button type="button" class="btn success' + (row.owner!=me.username ? ' disabled' : '') + '" onclick="accept_membership(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Accept membership") }}' + '"><span class="clipster-thumbs-up" aria-hidden="true"></span></button>';
				}
				else if (row.username!=me.username) {
					return '<button type="button" class="btn primary' + (row.owner!=me.username ? ' disabled' : '') + '" onclick="exclude_member(this,event)" data-toggle="tooltip" data-original-title="' + '{{ translate("Exclude member") }}' + '"><span class="clipster-logout" aria-hidden="true"></span></button>';
				}
			}

			function member_status_formatter(value, row) {
				if (row.member_status == MEMBER_STATUS_OWNER) {
					return '<span class="clipster-star-empty" aria-hidden="true"></span> {{ translate("Team owner") }}';
				}
				else if (row.member_status == MEMBER_STATUS_PENDING_OWNER_ACCEPT) {
					return '<span class="clipster-hourglass" aria-hidden="true"></span><span class="orange">  {{ translate("Pending your accept") }}</span>';
				}
				else if (row.member_status == MEMBER_STATUS_PENDING_MEMBER_ACCEPT) {
					return '<span class="clipster-hourglass" aria-hidden="true"></span><span class="orange">  {{ translate("Pending user accept") }}</span>';
				}
				else if (row.member_status == MEMBER_STATUS_MEMBER) {
					return '<span class="clipster-user" aria-hidden="true"></span><span class="green"> {{ translate("Member") }}</span>';
				}
			}
			
			function show_team_members(row) {
				prev_show_args = { owner: row.owner, teamname: row.teamname }
				prev_show_func = show_team_members;
				$(".clipster-reload").animateRotate(180);
				$("#team-members").hide();
				$("#invite-user").attr('teamname', row.teamname);
				$("#invite-user").attr('owner', row.owner);
				$("#team-view").hide();
				$("#invite-user").prop("disabled",row.owner!=me.username);
				team_service.listMembers({
					device_hash: device_hash,
					team_owner: row.owner,
					teamname: row.teamname },
					null,
					function(res) {
						var members = $.map(res.members, function(m) {
							var status = MEMBER_STATUS_UNKNOWN;
							if (m.username==me.username) {
								status = MEMBER_STATUS_OWNER;
							}
							else if (m.owner_accepted==false) {
								status = MEMBER_STATUS_PENDING_OWNER_ACCEPT;
							}
							else if (m.member_accepted==false) {
								status = MEMBER_STATUS_PENDING_MEMBER_ACCEPT;
							}
							else if (m.owner_accepted==true && m.member_accepted==true) {
								status = MEMBER_STATUS_MEMBER;
							}
							return $.extend({}, m, {owner: row.owner, teamname: row.teamname, member_status: status});
						});
						$("#team-members-table").bootstrapTable('destroy');
						$("#team-members-table").bootstrapTable( {
							onClickRow: function (clickrow, args) {
							},
							data: members
						});
						$('button').tooltip({delay: { "show": 700, "hide": 0 }});
						$("#team-members").fadeIn();
						//$("#team-members-table").bootstrapTable("append", members);
					}
				);
				$("#member-view").fadeIn();
			}
			
			function show_teams() {
				update_teamlist();
				$("#member-view").hide();
				$("#team-view").fadeIn();
			}
			
			function update_teamlist() {
				prev_show_args = null;
				prev_show_func = update_teamlist;
				$(".clipster-reload").animateRotate(180);
				$(".member-group").hide();
				team_service.listOwnMemberships({device_hash: device_hash},null,function(res) {
					var memberships = [];
					var invitations = [];
					var member_requests = [];
					for (var idx in res.teams) {
						var t = res.teams[idx];
						t.team_status = TEAM_STATUS_UNKNOWN;
						if (t.owner_accepted==true && t.member_accepted==true && t.owner==me.username) {
							t.team_status = TEAM_STATUS_OWNER;
						}
						else if (t.owner_accepted==true && t.member_accepted==true) {
							t.team_status = TEAM_STATUS_MEMBER;
						}
						else if (t.owner_accepted==true && t.member_accepted==false) {
							t.team_status = TEAM_STATUS_PENDING_SELF_ACCEPT;
						}
						else if (t.owner_accepted==false && t.member_accepted==true) {
							t.team_status = TEAM_STATUS_PENDING_OWNER_ACCEPT;
						}
						
						if (t.owner_accepted==true && t.member_accepted==false) {
							invitations.push(t);
						}
						else if (t.owner_accepted==false && t.member_accepted==true) {
							member_requests.push(t);
						}
						else if (t.owner_accepted==true && t.member_accepted==true) {
							memberships.push(t);
						}
						
					}
					if (memberships.length) {
						$("#team-memberships").bootstrapTable( 'destroy' );
						$("#team-memberships").bootstrapTable( {
							onClickRow: function (row, args) {
								console.debug("row");
								show_team_members(row);
							},
							data: memberships
						});
						$("#memberships-group").fadeIn();
					} else {
						$("#memberships-group").fadeOut();
					}
					if (invitations.length) {
						$("#team-invitations").bootstrapTable( 'destroy' );
						$("#team-invitations").bootstrapTable( {
							onClickRow: function (row, args) {
							},
							data: invitations
						});
						$("#invitations-group").fadeIn();
					} else {
						$("#invitations-group").fadeOut();
					}
					if (member_requests.length) {
						$("#team-member-requests").bootstrapTable( 'destroy' );
						$("#team-member-requests").bootstrapTable( {
							onClickRow: function (row, args) {
							},
							data: member_requests
						});
						$("#requests-group").fadeIn();
					} else {
						$("#requests-group").fadeOut();
					}
					$('button').tooltip({delay: { "show": 700, "hide": 0 }});
				});
			}
			
			function create_team() {
				var dlg = $.bsModal('open',{id: "modal_create_team"});
					
				var create_dialog = $("#create-user-dialog").detach();
				create_dialog.removeClass("hidden");
				create_dialog.find("#teamname").val('');
				create_dialog.find("#team-searchable").prop('checked',true);
				create_dialog.find("#teamname").unbind("keydown");
				
				var buttons = create_dialog.find("#create-user-buttons");
				buttons.empty();
				var cancelbtn = $('<button class="btn primary pull-right" style="margin-left: 0.8em" id="team-create-cancel">{{ translate("Cancel","common") }}</button>');
				var createbtn = $('<button class="btn success pull-right" id="team-create-create">{{ translate("Create","common") }}</button>');
				buttons.append(cancelbtn);
				buttons.append(createbtn);
				dlg.body.html(create_dialog);
				dlg.title.html('{{ translate("Create team") }}');
				create_dialog.find("#teamname").keydown( function(e) {
					if ( e.which == 13 ) {
						createbtn.triggerHandler("click");
					}
				});
				createbtn.click( function() {
					var teamname = create_dialog.find("#teamname").val().trim();
					if (teamname.length==0) {
						return;
					}
					var searchable = create_dialog.find("#team-searchable").val()=='on';
					team_service.createTeam({
							device_hash: device_hash,
							teamname: teamname,
							searchable: searchable,
							private: true
						},null,
						function() {
							$.bsModal('close',{id: "modal_create_team"});
							update_teamlist();
						}
					);
				});
				cancelbtn.click( function() {
					$.bsModal('close',{id: "modal_create_team"});
				});
				setTimeout(function() {$("#teamname").focus()},500);
			}

			$(function() {
				
				if (device_hash==null) {
					device_hash = "618027061c259bc24d2537898a5776777cc3781e";
					$("#user-buttons").removeClass('hidden');
				}
				
				$.removeCookie("login-token");
				user_service.loadDescription("/service/v1/UserService/jsonwsp/description", function() {
					user_service.whoami({device_hash: device_hash},null,function(res) {
						if (res.method_result.res_code==0) {
							me = res.user_info;
							team_service.loadDescription("/service/v1/TeamService/jsonwsp/description", function() {
								update_teamlist();
							});
						}
					});
				});
				
				$("#jakob-mode").click( function() {
					device_hash = "618027061c259bc24d2537898a5776777cc3781e";
					var btn = $(this);
					user_service.whoami({device_hash: device_hash},null,function(res) {
						if (res.method_result.res_code==0) {
							me = res.user_info;
							$(".user-switch").removeClass("btn-primary");
							$(".user-switch").addClass("btn-default");
							btn.addClass("btn-primary");
							show_teams();
							update_teamlist();
						}
					});
				});
				$("#brian-mode").click( function() {
					device_hash = "2bc312fcc3f81c9d8338fc6d7da86c74f74e0afa";
					var btn = $(this);
					user_service.whoami({device_hash: device_hash},null,function(res) {
						if (res.method_result.res_code==0) {
							me = res.user_info;
							$(".user-switch").removeClass("btn-primary");
							$(".user-switch").addClass("btn-default");
							btn.addClass("btn-primary");
							show_teams();
							update_teamlist();
						}
					});
				});
				$("#mikael-mode").click( function() {
					device_hash = "b4d150ac524ae23282a4c3a49e3cf20f67c0dee1";
					var btn = $(this);
					user_service.whoami({device_hash: device_hash},null,function(res) {
						if (res.method_result.res_code==0) {
							me = res.user_info;
							$(".user-switch").removeClass("btn-primary");
							$(".user-switch").addClass("btn-default");
							btn.addClass("btn-primary");
							show_teams();
							update_teamlist();
						}
					});
				});
				$("#jens-peter-mode").click( function() {
					device_hash = "f3fc9287a6e3d455255dd80b148176b0f2aadc6f";
					var btn = $(this);
					user_service.whoami({device_hash: device_hash},null,function(res) {
						if (res.method_result.res_code==0) {
							me = res.user_info;
							$(".user-switch").removeClass("btn-primary");
							$(".user-switch").addClass("btn-default");
							btn.addClass("btn-primary");
							show_teams();
							update_teamlist();
						}
					});
				});
				$("#add-team").click( function() {
					find_team_dialog('{{ translate("Find team") }}', function(row) {
						$.bsModal('close',{id: "modal_teams"});
						team_service.requestMembership({
							device_hash: device_hash,
							team_owner: row.owner,
							teamname: row.teamname},
							null,
							function(res) {
								if (res.success==true) {
									update_teamlist();
								}
							}
						);
					});
				});
				$("#invite-user").click( function() {
					var teamname = $(this).attr('teamname');
					var owner = $(this).attr('owner');
					find_user_dialog('{{ translate("Find user") }}', function(row) {
						$.bsModal('close',{id: "modal_users"});
						console.debug(row);
						team_service.sendInvitation({
								device_hash: device_hash,
								teamname: teamname,
								invitee_username: row.username
							},
							null,
							function(res) {
								if (res.success==true) {
									show_team_members({owner: owner, teamname: teamname});
								}
							}
						);
					});
				});
				$("#team-view-button").click( function() {
					show_teams();
				});
				$(".clipster-reload").click( function() {
					prev_show_func(prev_show_args);
				});

				$("#create-team").click( function() {
					create_team();
				});
				$(window).keydown( function(e) {
					if (e.which==27) {
						if ($("#team-view").is(":visible")==false && $("div[id^=bsmodal]").is(":visible")==false) {
							show_teams();
						}
					}
				});
				//setInterval(function() {prev_show_func(prev_show_args)},10000);
			});
			
			function question(title, text, yes_cb) {
				var a = $.bsModal('open',{id: "modal_teams"});
				var yesbtn = $("<button class='btn success'>{{ translate('Yes','common') }}</button>");
				var cancelbtn = $("<button class='btn primary' style='margin-left: 0.8em'>{{ translate('Cancel','common') }}</button>");
				var txt = $("<div class='row question'></div>");
				txt.append("<p>"+text+"</p>");
				var buttons = $("<div class='pull-right'></div>")
				buttons.append(yesbtn);
				buttons.append(cancelbtn);
				txt.append(buttons);
				a.body.html(txt);
				a.title.html(title);
				yesbtn.click( function() {
					$.bsModal('close',{id: "modal_teams"});
					if (yes_cb) {
						yes_cb();
					}
				});
				cancelbtn.click( function() {
					$.bsModal('close',{id: "modal_teams"});
				});
				setTimeout(function() {yesbtn.focus();console.debug($(':focus'));},500);
			}
			
		</script>

	</head>
	<body style="background-color: transparent;">
		<div class="container-fluid">
			<div id="user-buttons" class="row hidden">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<button id="jakob-mode" class="btn btn-primary user-switch">Jakob</button>
					<button id="brian-mode" class="btn btn-default user-switch">Brian</button>
					<button id="mikael-mode" class="btn btn-default user-switch">Mikael</button>
					<button id="jens-peter-mode" class="btn btn-default user-switch">Jens Peter</button>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
			</div>
			<div class="row" id="team-view">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="row">
						<button id="create-team" style="margin-top: 0.8em; margin-right: 0.8em" class="btn btn-success clipster-group pull-left"> {{ translate("Create a team") }}</button>
						<button id="add-team" style="margin-top: 0.8em" class="btn btn-success clipster-link pull-left"> {{ translate("Join a team") }}</button>
						<span class="clipster-arrows-cw pull-right clipster-reload" style="font-size: 2em; margin-top: 0.5em"></span>
					</div>
					<div id="memberships-group" class="member-group">
						<h3>{{ translate("Memberships") }}</h3>
						<table id="team-memberships" class="table-no-bordered" data-sort-name="team_status" data-cache="false" data-pagination="false">
							<thead>
								<tr>
									<th data-field="team_status" data-width="100px" data-align="center" data-formatter="team_action_formatter" data-sortable="false"></th>
									<th data-field="teamname" data-sortable="true" data-formatter="team_name_formatter">{{ translate("Team name") }}</th>
									<th data-field="owner" data-sortable="true">{{ translate("Owner") }}</th>
								</tr>
							</thead>
						</table>
					</div>
					<div id="invitations-group" class="member-group">
						<h3>{{ translate("Invitations") }}</h3>
						<table id="team-invitations" data-cache="false" data-sort-name="team_status" data-pagination="false">
							<thead>
								<tr>
									<th data-field="team_status" data-width="100px" data-align="center" data-formatter="team_action_formatter" data-sortable="false"></th>
									<th data-field="teamname" data-sortable="true">{{ translate("Team name") }}</th>
									<th data-field="owner" data-sortable="true">{{ translate("Owner") }}</th>
								</tr>
							</thead>
						</table>
					</div>
					<div id="requests-group" class="member-group">
						<h3>{{ translate("Pending memberships") }}</h3>
						<table id="team-member-requests" data-cache="false" data-sort-name="team_status" data-pagination="false">
							<thead>
								<tr>
									<th data-field="team_status" data-width="100px" data-align="center" data-formatter="team_action_formatter" data-sortable="false"></th>
									<th data-field="teamname" data-sortable="true">{{ translate("Team name") }}</th>
									<th data-field="owner" data-sortable="true">{{ translate("Owner") }}</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
			</div>
			<div class="row" id="member-view" style="display: none">
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
				<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
					<div class="row">
						<button id="team-view-button" style="margin-top: 0.8em; margin-right: 0.6em" class="btn btn-primary clipster-left-outline pull-left"> {{ translate("Back to teams") }}</button>
						<button id="invite-user" style="margin-top: 0.8em" class="btn btn-success clipster-user-add pull-left"> {{ translate("Invite a user") }}</button>
						<span class="clipster-arrows-cw pull-right clipster-reload" style="font-size: 2em; margin-top: 0.5em"></span>
					</div>
					<div id="team-members">
						<h3>{{ translate("Team members") }}</h3>
						<table id="team-members-table" class="borderless" data-sort-name="member_status" data-sort-order="asc" data-cache="false" data-pagination="false">
							<thead>
								<tr>
									<th data-field="" data-width="100px" data-align="center" data-formatter="member_action_formatter" data-sortable="false"></th>
									<th data-field="username" data-sortable="true">{{ translate("Username") }}</th>
									<th data-field="member_status" data-sortable="true" data-formatter="member_status_formatter">{{ translate("Status") }}</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
				<div class="col-lg-3 col-md-2 col-sm-1 col-xs-0"></div>
			</div>
		</div>
		
		<div class="hidden" id="create-user-dialog">
			<div class="row question">
				<div class="form-group">
					<label for="teamname">{{ translate("Team name") }}</label>
					<div class="inner-addon right-addon">
						<i id="user-email-glyph" class="glyphicon"></i>
						<input class="form-control" type="text" id="teamname" name="name" />
					</div>
				</div>
				<div class="form-group">
					<label for="team-searchable" class="checkbox-inline"><input type="checkbox" id="team-searchable" name="searchable" /> {{ translate("Make this team searchable for all users") }}</label>
				</div>
				<div class="form-group" id="create-user-buttons">
				</div>
			</div>
			<div class="error-text">
			</div>
			<div class="success-text">
			</div>
		</div>

		<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="/static/lib/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>
