<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>{{ sitetitle }}</title>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- <script src="/static/main.js"></script> -->
		<script src="/static/lib/jquery/jquery.min.js"></script>
		<script src="/static/lib/jsonwsp/jsonwspclient.js"></script>
		<link href="static/css/main.css" type="text/css" rel="stylesheet">
		<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/css/clipster.css" rel="stylesheet">
		<link href="/static/css/animation.css" rel="stylesheet"><!--[if IE 7]><link rel="stylesheet" href="/static/css/cal-fonts-ie7.css"><![endif]-->
		
		<script>
			var user_service = new JSONWSPClient();
			var timer_id = null;
			user_service.setViaProxy(true);
			$(function() {
				user_service.loadDescription("/service/v1/UserService/jsonwsp/description", function() {
					user_service.verifyUserAccount( {
						verification_code: "{{ verification_code }}"},
						null,
						function(res) {
							if (timer_id) {
								clearTimeout(timer_id);
								timer_id = null;
							}
							$("div.success-text,div.error-text").hide();
							if (res.method_result.res_code==0) {
								$(".success-text").html(res.method_result.res_msg);
								$(".success-text").fadeIn();
							}
							else {
								$(".error-text").html(res.method_result.res_msg);
								$(".error-text").fadeIn();
								timer_id = setTimeout( function() {$("div.success-text,div.error-text").fadeOut()}, 10000);
							}
						}
					);
				});
				$("#verify-user-dialog").fadeIn(250);
			});
			
		</script>

	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-xs-0"></div>
				<div class="col-md-4 col-xs-12">
					<div class="margin-box" id="verify-user-dialog">
						<div class="form-group">
							<p class="help-block text-center">{{ translate("Activating your Clipster profile.") }}</p>
						</div>
						<div class="error-text text-center">
						</div>
						<div class="success-text text-center">
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
